<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>SPARQL</servlet-name>
        <servlet-class>de.i3mainz.ls.sparql.SPARQL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Input</servlet-name>
        <servlet-class>de.i3mainz.sparql.Input</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>de.i3mainz.sparql.Delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InputConcept</servlet-name>
        <servlet-class>de.i3mainz.ls.fileinput.InputConcept</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadSendRDF</servlet-name>
        <servlet-class>de.i3mainz.servlets.ReadSendRDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SPARQLconcepts</servlet-name>
        <servlet-class>de.i3mainz.ls.sparql.SPARQLconcepts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getProjectTreeConcepts</servlet-name>
        <servlet-class>de.i3mainz.ls.visualisation.getProjectTreeConcepts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InputLabelCSV</servlet-name>
        <servlet-class>de.i3mainz.ls.fileinput.InputLabelCSV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getUUID</servlet-name>
        <servlet-class>de.i3mainz.ls.identifier.getUUID</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Read</servlet-name>
        <servlet-class>de.i3mainz.sesame.Read</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getTreeSVG</servlet-name>
        <servlet-class>de.i3mainz.ls.visualisation.getTreeSVG</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update</servlet-name>
        <servlet-class>de.i3mainz.ls.sparql.Update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getProjectTreeConceptsPublic</servlet-name>
        <servlet-class>de.i3mainz.ls.visualisation.getProjectTreeConceptsPublic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getBroaderNarrowerTree</servlet-name>
        <servlet-class>de.i3mainz.ls.visualisation.getBroaderNarrowerTree</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getRelations</servlet-name>
        <servlet-class>de.i3mainz.ls.visualisation.getRelations</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>autocomplete</servlet-name>
        <servlet-class>de.i3mainz.ls.autocomplete.autocomplete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getLabel</servlet-name>
        <servlet-class>de.i3mainz.ls.instances.json.getLabel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getProject</servlet-name>
        <servlet-class>de.i3mainz.ls.instances.json.getProject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getVocabulary</servlet-name>
        <servlet-class>de.i3mainz.ls.instances.json.getVocabulary</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getDump</servlet-name>
        <servlet-class>de.i3mainz.dump.getDump</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getUUIDHyphen</servlet-name>
        <servlet-class>de.i3mainz.ls.identifier.getUUIDHyphen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getUUIDProject</servlet-name>
        <servlet-class>de.i3mainz.ls.identifier.getUUIDProject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getUUIDVocabulary</servlet-name>
        <servlet-class>de.i3mainz.ls.identifier.getUUIDVocabulary</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getUUIDLabel</servlet-name>
        <servlet-class>de.i3mainz.ls.identifier.getUUIDLabel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getUUIDwithoutHyphen</servlet-name>
        <servlet-class>de.i3mainz.ls.identifier.getUUIDwithoutHyphen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>autocomplete2</servlet-name>
        <servlet-class>de.i3mainz.ls.autocomplete.autocomplete2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteLabels</servlet-name>
        <servlet-class>de.i3mainz.ls.sparql.DeleteLabels</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>querydbpedia</servlet-name>
        <servlet-class>de.i3mainz.ls.query.querydbpedia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InputLabelCSV2</servlet-name>
        <servlet-class>de.i3mainz.servlets.InputLabelCSV_test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getDumpRepository</servlet-name>
        <servlet-class>de.i3mainz.dump.getDumpRepository</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>old.test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>old.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAgent</servlet-name>
        <servlet-class>de.i3mainz.ls.instances.json.getAgent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getGUI</servlet-name>
        <servlet-class>de.i3mainz.ls.instances.json.getGUI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAgentRDF</servlet-name>
        <servlet-class>de.i3mainz.ls.objects.getAgentRDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InputLog</servlet-name>
        <servlet-class>de.i3mainz.ls.sparql.InputLog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WebService</servlet-name>
        <servlet-class>webservicetest.WebService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getSPARQLendpoint</servlet-name>
        <servlet-class>de.i3mainz.ls.instances.json.getSPARQLendpoint</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SPARQL</servlet-name>
        <url-pattern>/SPARQL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Input</servlet-name>
        <url-pattern>/Input</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InputConcept</servlet-name>
        <url-pattern>/InputConcept</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadSendRDF</servlet-name>
        <url-pattern>/ReadSendRDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SPARQLconcepts</servlet-name>
        <url-pattern>/SPARQLconcepts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getProjectTreeConcepts</servlet-name>
        <url-pattern>/getProjectTreeConcepts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InputLabelCSV</servlet-name>
        <url-pattern>/InputLabelCSV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getUUID</servlet-name>
        <url-pattern>/getUUID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getTreeSVG</servlet-name>
        <url-pattern>/getTreeSVG</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update</servlet-name>
        <url-pattern>/Update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getProjectTreeConceptsPublic</servlet-name>
        <url-pattern>/getProjectTreeConceptsPublic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getBroaderNarrowerTree</servlet-name>
        <url-pattern>/getBroaderNarrowerTree</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getRelations</servlet-name>
        <url-pattern>/getRelations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>autocomplete</servlet-name>
        <url-pattern>/autocomplete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getLabel</servlet-name>
        <url-pattern>/getLabel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getProject</servlet-name>
        <url-pattern>/getProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getVocabulary</servlet-name>
        <url-pattern>/getVocabulary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getDump</servlet-name>
        <url-pattern>/getDump</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getUUIDHyphen</servlet-name>
        <url-pattern>/getUUIDHyphen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getUUIDProject</servlet-name>
        <url-pattern>/getUUIDProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getUUIDVocabulary</servlet-name>
        <url-pattern>/getUUIDVocabulary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getUUIDLabel</servlet-name>
        <url-pattern>/getUUIDLabel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getUUIDwithoutHyphen</servlet-name>
        <url-pattern>/getUUIDwithoutHyphen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>autocomplete2</servlet-name>
        <url-pattern>/autocomplete2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteLabels</servlet-name>
        <url-pattern>/DeleteLabels</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>querydbpedia</servlet-name>
        <url-pattern>/querydbpedia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InputLabelCSV2</servlet-name>
        <url-pattern>/InputLabelCSV2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getDumpRepository</servlet-name>
        <url-pattern>/getDumpRepository</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAgent</servlet-name>
        <url-pattern>/getAgent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getGUI</servlet-name>
        <url-pattern>/getGUI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAgentRDF</servlet-name>
        <url-pattern>/getAgentRDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InputLog</servlet-name>
        <url-pattern>/InputLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WebService</servlet-name>
        <url-pattern>/WebService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getSPARQLendpoint</servlet-name>
        <url-pattern>/getSPARQLendpoint</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
</web-app>
